* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700x;
    font-size: 10px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: rgb(82, 80, 80);
}

.section-p1 {
    padding: 40px 60px;
}

.section-m1 {
    padding: 40px 0px;
}

.body {
    padding: 40px 80px;
}

button.normal{
    color: black;
    background-color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s smooth;
    outline: none;

}

button.white {
    color:white;
    background-color:transparent;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s smooth;
    outline: none;
    border: 1px solid white;

}

/* header start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    /* background-color: #ffffff00; */
    background: transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;  

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    transition: 0.40s ease-in-out;
}

#navbar li a:hover {
    color: rgb(194, 74, 15);
}

#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #CB0856;
    position: absolute;
    bottom: -3px;
    left: 20px;
}


/* home page */

#hero {
    background-image: url(img/hero6.jpg);
    height: 120vh;
    width: 100%;
    background-position: top 30% right 0px;
    background-size: cover;
    paddng: 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 2px;
    padding-left: 25px;
}
#hero h1{
    color:white;
    padding-left: 20px;
}

#hero h2{
    padding-left: 20px;
}
#hero p{
    padding-left: 20px;
}

#hero button{
    background-color: transparent;
    border-radius: 40px;
    border:1px solid #ffffff;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
    padding:10px 20px;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.5s ease;
}

#hero button:hover{
    background-color:#ffffff;
    color: rgb(254, 8, 8);
    border: none;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.1);
    border: 1px solid #e5e7e7;
    border-radius: 4px;
    margin: 10px -40px;
    justify-content: space-between;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 8px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62,221,0.01);

}

#feature .fe-box h6{
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    background-color: #89D8E1;
    padding:5px 8px;
    
}

#feature .fe-box:nth-child(2) h6{
    color: #000000;
    background-color: #E088BA;
}
#feature .fe-box:nth-child(3) h6{
    color: #000000;
    background-color: #B8DD7F;
}
#feature .fe-box:nth-child(4) h6{
    color: #000000;
    background-color: #89BFE1;
}
#feature .fe-box:nth-child(5) h6{
    color: #000000;
    background-color: #A28FDA;
}
#feature .fe-box:nth-child(6) h6{
    color: #000000;
    background-color: #E8AC8D;
}

#product1{
    text-align: center;
}

#product1 .pro{
    min-width: 250px;
    padding: 10px 10px;
    width: 23%;
    border: 1px solid #e5e7e7;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.1);
    transition: 0.05 ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.2);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 15px 0;
}

#product1 .pro .des span{
    color: #636565;
    font-size: 15px;
}
#product1 .pro .des h5{
    color: #000000;
    font-size: 15px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    color: #4D9DA2;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    background: #4D9DA2;
    font-weight: 400;
    border: 1px solid;
    position: absolute;
    bottom: 20px;
    right: 20px;
    
}

#product1 .pro{
    flex: wrap;
}

#product1 .pro-container{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}


#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4{
    color: white;
    font-size: 16px;
}
#banner h2{
    padding: 10px 0px;
    font-size: 30px;
    color: white;
}
#banner h2 span{
    color: red;

}

#banner button:hover{
    background-color:#4D9DA2;
    color: white;

}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(img/banner/b17.jpg);
    min-width: 550px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}
#sm-banner .banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

#sm-banner .banner-box:hover button{
 background: #4D9DA2;
 border: none;
}

#banner3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

#banner3 .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width:30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: white;
    font-size: 30px;
    font-weight: 900;
}

#banner3 h3{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.banner-box3{
    background-image: url(img/banner/b4.jpg);
}
.banner-box4{
    background-image: url(img/banner/b19.jpg);
}
.banner-box5{
    background-image: url(img/banner/b18.jpg);
}

#newsleter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e40;
    margin-top: 30px;
}

#newsleter h4{
    color: white;
    font-size: 30px;
    font-weight: 700;
}

#newsleter p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
#newsleter p span{
    color: rgb(243, 181, 25); 
}

.newsletter_form{
    display: flex;
    width: 40%;
}

#newsleter input{
    height:3.125rem;
    width: 100%;
    padding: 0 1.25em;
    font-size: 14px;
    outline: none;
   border-radius:4px;
   border: 1px solid transparent;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

#newsleter .newsletter_btn{
    color: white;
    background-color:#4D9DA2;
    border: none;
    white-space: nowrap;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer .logo{
    margin-bottom: 20px;
}

footer h4{
    font-size:18px;
    padding-bottom: 18px;
}

footer p{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

footer a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 5px;
    color: #061414;
    cursor: pointer;
}


footer .install .row img{
     border: 1px solid #4D9DA2;
     border-radius: 6px;
     margin-top: 10px 0px 10px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #4D9DA2;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

    